body {
  background: #EDF0EE;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: fit-content;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "TASA Orbiter", sans-serif;
  /* overflow-y: hidden; */
}

.container {
  width: 100%;
  /* max-width: 360px; */
  height: fit-content;
  background: #EDF0EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  /* border-radius: 12px; */
  padding: 0;
  margin: 0;
}

header{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Yuji Syuku", serif; */
  font-weight: 400;
  font-style: normal;
}

h1 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0 30px 0;
  font-size: 50px;
  color: #335D45;
  /* font-family: "Zen Antique", serif; */
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 200;
}

/* 本月收入/本月支出 */
.summary {
  width: 76%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.income_div, .expense_div{
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.205);
  border: 1px solid #ffffff;
  box-shadow: inset 0px 0px 8px #ffffffad;
  /* box-shadow: 0px 0px 5px #335d450c; */
  
}

.income_div{
  margin-right: 5px;
  /* margin-bottom: 10px; */
}

.expense_div{
  margin-left: 5px;
  /* margin-top: 10px; */
}

#income_title, #expense_title{
  font-size: 12px;
  font-weight: 700;
  color: #335D45;
}

#income, #expense{
  font-size: 20px;
  color: #4ab578;
}

.date_div, .type_div, .category_div, .amount_div, .note_div{
  /* padding: 5px; */
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: 5px;
  box-shadow: 0px 0px 10px #146a110b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date_div, .type_div, .category_div{
  height: 45px;
  width: 280px;
}

.type_div, .category_div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.amount_div, .note_div{
  height: 50px;
  width: 280px;
}

#date, #type, #category, #amount, #note{
  border: #53d24d;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  font-size: 16px;
  font-family: "TASA Orbiter", sans-serif;
  border-style: none;
  outline: none;
  width: 280px;
  height: 50px;
}

#date, #type, #category {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

#type, #category{
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    text-align: center;
    color: #9d9d9d;
}

#note{
  width: 100%;
  padding: 3px 0;
  background-color: none;
}

select.placeholder {
    color: #000;
    text-align-last: center;
}

select {
  color: #999; /* 預設灰色 */
}

select:valid {
  color: #000; /* 選擇後變黑色 */
}

select.selected {
    color: #000;
    text-align-last: center;
}

input::placeholder {
    color: #999;
    text-align-last: center;
}

.save_div, .sheetBtn_div{
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* margin: 10px; */
  width: 270px;
  height: 40px;
  border-radius: 25px;
  padding: 5px;
  margin: 5px 0;
  
}

.save_div{
  /* background-color: #335D45;
  box-shadow: 0px 0px 10px #146a110b;
  transition: transform 0.15s ease; */

  background:rgba(0, 101, 44, 0.79);
  /* border:1px solid #ffffff5c; */
  /* backdrop-filter:blur(30px);
  -webkit-backdrop-filter:blur(30px); */

  box-shadow:
      0 2px 8px #3bc8360b,
      inset 0 1px 0 rgba(255, 255, 255, 0.095);
  transition: transform 0.15s ease;
}

.sheetBtn_div{
  background:rgba(255, 255, 255, 0.455);
    border:1px solid #ffffff5c;
    backdrop-filter:blur(30px);
    -webkit-backdrop-filter:blur(30px);

    box-shadow:
        0 2px 8px #146a110b,
        inset 0 1px 0 rgba(255, 255, 255, 0.095);
  margin-bottom: 30px;
  transition: transform 0.15s ease;
}


#save, #sheetBtn{
  padding: 10px;
  color: white;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "TASA Orbiter", sans-serif;
  font-size: 16px;
  
}
#save{
  width: 270px;
  height: 40px;
  background-color: #335d4500;
  border: none;
  color: #EDF0EE;
  /* transition: transform 0.15s ease; */
  margin: 5px 0;
}

.save_div:hover{
  cursor: pointer;
  /* background-color: #58a077; */
}


/* 放開後的回彈動畫 */

.save_div.press, .sheetBtn_div.press{
    transform: scale(1.05);
}
.save_div.bounce, .sheetBtn_div.bounce{
    animation: bounce 0.4s ease-out;
}

@keyframes bounce{
    0%{
        transform: scale(1.05);
    }
    45%{
        transform: scale(0.98);
    }
    75%{
        transform: scale(1.01);
    }
    100%{
        transform: scale(1);
    }
}

#sheetBtn{
  width: 100%;
  height: 27px;
  background-color: none;
  border: 1px solid none;
  color: #335D45;
}

.sheetBtn_div:hover{
  cursor: pointer;
}

#toast {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%) translateY(100px);
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 12px 20px;
  border-radius: 12px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 9999;
  pointer-events: none;
}

#toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* chart */
#chart_con{
    width:90%;
    max-width:320px;
    margin:0px 0 60px 0 ;
    padding:20px;
    border-radius:20px;
    background:#ffffff00;
    /* box-shadow:0 4px 15px rgba(0,0,0,.08); */
}

.chart{
    position:relative;
    width:100%;
    height:260px;
    margin: 10px 0;
}

.chart_title{
    text-align:center;
    font-size:28px;
    margin-bottom:10px;
    color: #335D45;
}

/* chart導覽列 */

.chart_tabs{
    position: relative;
    display:flex;
    gap:8px;
    padding:6px;
    border-radius:18px;
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
}

/* 🔥 滑動背景 */
.tab_indicator{
    position:absolute;
    top:6px;
    left:0px;
    height:36px;
    width:0;
    border-radius:30px;

    background:rgba(255, 255, 255, 0.314);
    border:1px solid #ffffffa5;
    backdrop-filter:blur(30px);
    -webkit-backdrop-filter:blur(30px);

    box-shadow:
        0 2px 12px rgba(0, 0, 0, 0.06),
        inset 0 1px 0 rgba(255,255,255,.65);

    transition: transform .35s ease, width .35s ease;
    z-index:0;
}

/* button 只負責文字 */
.chart_tab{
    flex:1;
    height:36px;
    border:none;
    border-radius:30px;
    background:transparent;
    color:#6E6E73;
    font-size:15px;
    font-weight:400;
    z-index:1;
    position:relative;
}

/* active 只改文字顏色 */
.chart_tab.active{
    color:#1D1D1F;
}

/* Legend */
#chartLegend{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
    justify-content: center;
    gap: 16px 20px;
    margin-top: 20px;
}

.legend-item{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:8px;
    font-size:14px;

}

.legend-color{
    width:12px;
    height:12px;
    border-radius:3px;
    flex-shrink:0;
    box-shadow: 0px 0px 3px #335d4534;

}

