body {
  background: #53d24d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "TASA Orbiter", sans-serif;
  /* overflow-y: hidden; */
}

.container {
  width: 100%;
  /* max-width: 360px; */
  height: 100vh;
  background: #EDF0EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  /* border-radius: 12px; */
  padding: 0;
  margin: 0;
}

header{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Yuji Syuku", serif; */
  font-weight: 400;
  font-style: normal;
}

h1 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 65px 0 30px 0;
  font-size: 50px;
  color: #335D45;
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 200;
}

/* 本月收入/本月支出 */
.summary {
  width: 76%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.income_div, .expense_div{
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.205);
  border: 1px solid #ffffff;
  box-shadow: inset 0px 0px 8px #ffffffad;
  /* box-shadow: 0px 0px 5px #335d450c; */
  
}

.income_div{
  margin-right: 5px;
  /* margin-bottom: 10px; */
}

.expense_div{
  margin-left: 5px;
  /* margin-top: 10px; */
}

#income_title, #expense_title{
  font-size: 12px;
  font-weight: 700;
  color: #335D45;
}

#income, #expense{
  font-size: 20px;
  color: #4ab578;
}

.date_div, .type_div, .category_div, .amount_div, .note_div{
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  margin: 5px;
  box-shadow: 0px 0px 10px #146a110b;
}

#date, #type, #category, #amount, #note{
  border: #53d24d;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 5px;
  border-radius: 20px;
  font-size: 16px;
  font-family: "TASA Orbiter", sans-serif;
  border-style: none;
  outline: none;
}
#date{
  width: 70vw;
  height: 2.3vh;
}

#type, #category{
  width: 72vw;
  height: 2.6vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#amount{
  width: 70vw;
  height: 2.3vh;
}

#note{
  width: 72vw;
  height: 1.5vh;
  padding: 3px 0;
}

select.placeholder {
    color: #000;
}

select.selected {
    color: #000;
}

input::placeholder, textarea::placeholder {
    color: #999;
}

.save_div, .sheetBtn_div{
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* margin: 10px; */
  width: 77vw;
  /* height: 2.5vh; */
  border-radius: 24px;
}

#save, #sheetBtn{
  padding: 10px;
  color: white;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "TASA Orbiter", sans-serif;
  box-shadow: 0px 0px 10px #146a1113;
}
#save{
  width: 100%;
  height: 6vh;
  background-color: #335D45;
  border: none;
  color: #EDF0EE;
  transition: transform 0.15s ease;
  margin: 10px 0;
}

#save:hover{
  cursor: pointer;
}

/* 按下時縮小 */
#save:active {
  transform: scale(0.9);
}

/* 放開後的回彈動畫 */
#myBtn.bounce {
  animation: bounce 0.25s ease;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#sheetBtn{
  width: 100%;
  height: 2.5vh;
  background-color: #EDF0EE;
  border: 1px solid #335D45;
  color: #335D45;
  transition: transform 0.15s ease;
}

#sheetBtn:hover{
  cursor: pointer;
}

/* 按下時縮小 */
#sheetBtn:active {
  transform: scale(0.9);
}

/* 放開後的回彈動畫 */
#sheetBtn.bounce {
  animation: bounce 0.25s ease;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* input, textarea {
  width: 321.6px;
  height: 30px;
  margin: 6px 0;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  text-align: center;

}

select{
  width: 321.6px;
  height: 50px;
  margin: 6px 0;
  padding: 10px 170px 10px 170px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
} */

/* select > option{
  text-align: center;
  padding-right: 10px;
} */

/* button {
  width: 80%;
  padding: 10px;
  margin-top: 8px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
} */
